{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>Halo</title>
</head>
<body>
    <!-- navbar -->
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <i class="fas fa-sun nav-link"></i>
            </li>            
            <li class="nav-item">
                <div class="switch">
                    <label class="switch">
                        <input type="checkbox" id="themeSwitch" />
                        <span class="slider round "></span>
                    </label>
                </div>
            </li>
            <li class="nav-item">
                <i class="far fa-moon nav-link"></i>
            </li>
        </ul>
    </nav>
    <!-- Accordion -->
    <div class="container">
        <h1>KEVIN ASYRAF PP</h1>
        <h3 style="margin-bottom: 70px;">1806191660</h3>
        <div class="wrapper">
            <div class="accordion">
                <div class="accordion_tab">
                    Kesibukkan saya
                    <div class="accordion_arrow" style="margin-top:-15px;">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div class="accordion_content">
                    <div class="accordion_item">
                        <p class="item_title">Asdos Matdis I</p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion_tab">
                Pengalaman organisasi
                    <div class="accordion_arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div class="accordion_content" style="height:600px;">
                    <div class="accordion_item">
                        <p class="item_title">SISTEM Fasilkom UI</p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion_tab">
                Prestasi
                    <div class="accordion_arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div class="accordion_content">
                    <div class="accordion_item">
                        <ul style="margin-left:15px; list-style-type: square;">
                        <li>
                            <p class="item_title">Juara Favorit Business Plan IPB 2019</p>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>